.maps{
    img{
        width: 100%;
    }
    @media(min-width: 768px){
        width: 75%;
        margin: auto;
    }
}
input{
    width: 100%;
    height: 3em;
    padding: 1em;
    margin-top: 1.5em;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 5px gray;
}
.maps-styles{
    margin-top: 8em;
    border-bottom: 3px solid rgb(139, 138, 138);
    p{
        text-align: center;
        padding: 3px 0 4em;
    }
    .search-input-container{
        width: 80%;
        margin: 5px auto;
        @media(min-width:768px){
            width: 65%;
        }
        .location-marker-input{
            position:relative;
            img{
                height: 1.5em;
                position:absolute;
                right: 1em;
                top: 10px;
            }
        }
    }
}