nav{
    display: flex;
    justify-content: space-between;
    
    border-bottom: 2px solid rgb(139, 138, 138);
    padding: 0 2em;
    img{
        padding: 0 .5em;
    }
    div, ul{ 
        display: flex;
        align-items: center;
        list-style-type: none;
        li{
            margin: 0 1em;
        }
    }
   
    button{
        width: 60px;
        padding: 8px;
        margin: 0 .5em;
        border-radius: 20px;
        background-color: lightpink;
        color: white;
        border: none;
        display: none;
    }
    ul,button{
        display: none;
        @media(min-width: 768px){
            display: flex;
        }
    }
    .hamburger-container{
        position: relative;
        
        @media(min-width: 768px){
            display: none;
        }
        .mobile-nav{
            width: 20px;
            height: 5px;
            border-radius: 5px;
            background-color: black;
            cursor: pointer;
            &::before,
            &::after{
                content: '';
                position: absolute;
                background-color: black;
                width: 20px;
                height: 5px;
                border-radius: 5px;
            }
            &::before{
                transform: translateY(-10px);
            }
            &::after{
                transform: translateY(10px);
            }
        }
        .menu-styles{
            width: 400px;
            height: 350px;
            background-color: rosybrown;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            grid-template-rows: repeat(4, 1fr);
            justify-content: space-evenly;
            text-align: center;
            transform: translateX(100%);
            .transition{
                transition: transform 2s ease-in;
                transform:translateX(0);
            }           
            a{
                text-decoration: none;
                color: white;
                border-bottom: 2px solid black;
                width: 100%;
                margin-top: 2em;
                padding-bottom: 2em;
                &:last-child{
                    border-bottom: none;
                }
            }
            
        }
    }
}

